build/generators/ade-config-version.cmake
build/generators/ade-config.cmake
build/generators/ade-release-x86_64-data.cmake
build/generators/ade-Target-release.cmake
build/generators/adeTargets.cmake
build/generators/brotli-config-version.cmake
build/generators/brotli-config.cmake
build/generators/brotli-release-x86_64-data.cmake
build/generators/brotli-Target-release.cmake
build/generators/brotliTargets.cmake
build/generators/BZip2-release-x86_64-data.cmake
build/generators/BZip2-Target-release.cmake
build/generators/BZip2Config.cmake
build/generators/BZip2ConfigVersion.cmake
build/generators/BZip2Targets.cmake
build/generators/cmakedeps_macros.cmake
build/generators/CMakePresets.json
build/generators/conan_toolchain.cmake
build/generators/conanbuild.bat
build/generators/conanbuildenv-release-x86_64.bat
build/generators/conandeps_legacy.cmake
build/generators/conanrun.bat
build/generators/conanrunenv-release-x86_64.bat
build/generators/CURL-release-x86_64-data.cmake
build/generators/CURL-Target-release.cmake
build/generators/CURLConfig.cmake
build/generators/CURLConfigVersion.cmake
build/generators/CURLTargets.cmake
build/generators/dav1d-config-version.cmake
build/generators/dav1d-config.cmake
build/generators/dav1d-release-x86_64-data.cmake
build/generators/dav1d-Target-release.cmake
build/generators/dav1dTargets.cmake
build/generators/deactivate_conanbuild.bat
build/generators/deactivate_conanrun.bat
build/generators/double-conversion-config-version.cmake
build/generators/double-conversion-config.cmake
build/generators/double-conversion-release-x86_64-data.cmake
build/generators/double-conversion-Target-release.cmake
build/generators/double-conversionTargets.cmake
build/generators/fdk-aac-config-version.cmake
build/generators/fdk-aac-config.cmake
build/generators/fdk-aac-release-x86_64-data.cmake
build/generators/fdk-aac-Target-release.cmake
build/generators/fdk-aacTargets.cmake
build/generators/ffmpeg-config-version.cmake
build/generators/ffmpeg-config.cmake
build/generators/ffmpeg-release-x86_64-data.cmake
build/generators/ffmpeg-Target-release.cmake
build/generators/ffmpegTargets.cmake
build/generators/FindBZip2.cmake
build/generators/FindCURL.cmake
build/generators/FindFreetype.cmake
build/generators/FindGIF.cmake
build/generators/FindGTest.cmake
build/generators/FindIconv.cmake
build/generators/FindIntl.cmake
build/generators/FindJPEG.cmake
build/generators/FindLibArchive.cmake
build/generators/FindLibLZMA.cmake
build/generators/FindOpenSSL.cmake
build/generators/FindPNG.cmake
build/generators/FindPostgreSQL.cmake
build/generators/FindProtobuf.cmake
build/generators/FindSQLite3.cmake
build/generators/FindTIFF.cmake
build/generators/FindZLIB.cmake
build/generators/freetype-config-version.cmake
build/generators/freetype-config.cmake
build/generators/freetype-release-x86_64-data.cmake
build/generators/freetype-Target-release.cmake
build/generators/freetypeTargets.cmake
build/generators/GIF-release-x86_64-data.cmake
build/generators/GIF-Target-release.cmake
build/generators/GIFConfig.cmake
build/generators/GIFConfigVersion.cmake
build/generators/GIFTargets.cmake
build/generators/glib-config-version.cmake
build/generators/glib-config.cmake
build/generators/glib-release-x86_64-data.cmake
build/generators/glib-Target-release.cmake
build/generators/glibTargets.cmake
build/generators/GTest-release-x86_64-data.cmake
build/generators/GTest-Target-release.cmake
build/generators/GTestConfig.cmake
build/generators/GTestConfigVersion.cmake
build/generators/GTestTargets.cmake
build/generators/harfbuzz-config-version.cmake
build/generators/harfbuzz-config.cmake
build/generators/harfbuzz-release-x86_64-data.cmake
build/generators/harfbuzz-Target-release.cmake
build/generators/harfbuzzTargets.cmake
build/generators/Iconv-release-x86_64-data.cmake
build/generators/Iconv-Target-release.cmake
build/generators/IconvConfig.cmake
build/generators/IconvConfigVersion.cmake
build/generators/IconvTargets.cmake
build/generators/Imath-release-x86_64-data.cmake
build/generators/Imath-Target-release.cmake
build/generators/ImathConfig.cmake
build/generators/ImathConfigVersion.cmake
build/generators/ImathTargets.cmake
build/generators/Intl-release-x86_64-data.cmake
build/generators/Intl-Target-release.cmake
build/generators/IntlConfig.cmake
build/generators/IntlConfigVersion.cmake
build/generators/IntlTargets.cmake
build/generators/jbig-config-version.cmake
build/generators/jbig-config.cmake
build/generators/jbig-release-x86_64-data.cmake
build/generators/jbig-Target-release.cmake
build/generators/jbigTargets.cmake
build/generators/JPEG-release-x86_64-data.cmake
build/generators/JPEG-Target-release.cmake
build/generators/JPEGConfig.cmake
build/generators/JPEGConfigVersion.cmake
build/generators/JPEGTargets.cmake
build/generators/Leptonica-release-x86_64-data.cmake
build/generators/Leptonica-Target-release.cmake
build/generators/LeptonicaConfig.cmake
build/generators/LeptonicaConfigVersion.cmake
build/generators/LeptonicaTargets.cmake
build/generators/libaom-av1-config-version.cmake
build/generators/libaom-av1-config.cmake
build/generators/libaom-av1-release-x86_64-data.cmake
build/generators/libaom-av1-Target-release.cmake
build/generators/libaom-av1Targets.cmake
build/generators/LibArchive-release-x86_64-data.cmake
build/generators/LibArchive-Target-release.cmake
build/generators/LibArchiveConfig.cmake
build/generators/LibArchiveConfigVersion.cmake
build/generators/LibArchiveTargets.cmake
build/generators/libdeflate-config-version.cmake
build/generators/libdeflate-config.cmake
build/generators/libdeflate-release-x86_64-data.cmake
build/generators/libdeflate-Target-release.cmake
build/generators/libdeflateTargets.cmake
build/generators/libffi-config-version.cmake
build/generators/libffi-config.cmake
build/generators/libffi-release-x86_64-data.cmake
build/generators/libffi-Target-release.cmake
build/generators/libffiTargets.cmake
build/generators/LibLZMA-release-x86_64-data.cmake
build/generators/LibLZMA-Target-release.cmake
build/generators/LibLZMAConfig.cmake
build/generators/LibLZMAConfigVersion.cmake
build/generators/LibLZMATargets.cmake
build/generators/libmp3lame-config-version.cmake
build/generators/libmp3lame-config.cmake
build/generators/libmp3lame-release-x86_64-data.cmake
build/generators/libmp3lame-Target-release.cmake
build/generators/libmp3lameTargets.cmake
build/generators/libvpx-config-version.cmake
build/generators/libvpx-config.cmake
build/generators/libvpx-release-x86_64-data.cmake
build/generators/libvpx-Target-release.cmake
build/generators/libvpxTargets.cmake
build/generators/libx264-config-version.cmake
build/generators/libx264-config.cmake
build/generators/libx264-release-x86_64-data.cmake
build/generators/libx264-Target-release.cmake
build/generators/libx264Targets.cmake
build/generators/libx265-config-version.cmake
build/generators/libx265-config.cmake
build/generators/libx265-release-x86_64-data.cmake
build/generators/libx265-Target-release.cmake
build/generators/libx265Targets.cmake
build/generators/md4c-config-version.cmake
build/generators/md4c-config.cmake
build/generators/md4c-release-x86_64-data.cmake
build/generators/md4c-Target-release.cmake
build/generators/md4cTargets.cmake
build/generators/module-BZip2-release-x86_64-data.cmake
build/generators/module-BZip2-Target-release.cmake
build/generators/module-BZip2Targets.cmake
build/generators/module-CURL-release-x86_64-data.cmake
build/generators/module-CURL-Target-release.cmake
build/generators/module-CURLTargets.cmake
build/generators/module-Freetype-release-x86_64-data.cmake
build/generators/module-Freetype-Target-release.cmake
build/generators/module-FreetypeTargets.cmake
build/generators/module-GIF-release-x86_64-data.cmake
build/generators/module-GIF-Target-release.cmake
build/generators/module-GIFTargets.cmake
build/generators/module-GTest-release-x86_64-data.cmake
build/generators/module-GTest-Target-release.cmake
build/generators/module-GTestTargets.cmake
build/generators/module-Iconv-release-x86_64-data.cmake
build/generators/module-Iconv-Target-release.cmake
build/generators/module-IconvTargets.cmake
build/generators/module-Intl-release-x86_64-data.cmake
build/generators/module-Intl-Target-release.cmake
build/generators/module-IntlTargets.cmake
build/generators/module-JPEG-release-x86_64-data.cmake
build/generators/module-JPEG-Target-release.cmake
build/generators/module-JPEGTargets.cmake
build/generators/module-LibArchive-release-x86_64-data.cmake
build/generators/module-LibArchive-Target-release.cmake
build/generators/module-LibArchiveTargets.cmake
build/generators/module-LibLZMA-release-x86_64-data.cmake
build/generators/module-LibLZMA-Target-release.cmake
build/generators/module-LibLZMATargets.cmake
build/generators/module-OpenSSL-release-x86_64-data.cmake
build/generators/module-OpenSSL-Target-release.cmake
build/generators/module-OpenSSLTargets.cmake
build/generators/module-PNG-release-x86_64-data.cmake
build/generators/module-PNG-Target-release.cmake
build/generators/module-PNGTargets.cmake
build/generators/module-PostgreSQL-release-x86_64-data.cmake
build/generators/module-PostgreSQL-Target-release.cmake
build/generators/module-PostgreSQLTargets.cmake
build/generators/module-Protobuf-release-x86_64-data.cmake
build/generators/module-Protobuf-Target-release.cmake
build/generators/module-ProtobufTargets.cmake
build/generators/module-SQLite3-release-x86_64-data.cmake
build/generators/module-SQLite3-Target-release.cmake
build/generators/module-SQLite3Targets.cmake
build/generators/module-TIFF-release-x86_64-data.cmake
build/generators/module-TIFF-Target-release.cmake
build/generators/module-TIFFTargets.cmake
build/generators/module-ZLIB-release-x86_64-data.cmake
build/generators/module-ZLIB-Target-release.cmake
build/generators/module-ZLIBTargets.cmake
build/generators/Ogg-release-x86_64-data.cmake
build/generators/Ogg-Target-release.cmake
build/generators/OggConfig.cmake
build/generators/OggConfigVersion.cmake
build/generators/OggTargets.cmake
build/generators/OpenCV-release-x86_64-data.cmake
build/generators/OpenCV-Target-release.cmake
build/generators/OpenCVConfig.cmake
build/generators/OpenCVConfigVersion.cmake
build/generators/OpenCVTargets.cmake
build/generators/OpenEXR-release-x86_64-data.cmake
build/generators/OpenEXR-Target-release.cmake
build/generators/OpenEXRConfig.cmake
build/generators/OpenEXRConfigVersion.cmake
build/generators/OpenEXRTargets.cmake
build/generators/openh264-config-version.cmake
build/generators/openh264-config.cmake
build/generators/openh264-release-x86_64-data.cmake
build/generators/openh264-Target-release.cmake
build/generators/openh264Targets.cmake
build/generators/OpenJPEG-release-x86_64-data.cmake
build/generators/OpenJPEG-Target-release.cmake
build/generators/OpenJPEGConfig.cmake
build/generators/OpenJPEGConfigVersion.cmake
build/generators/OpenJPEGTargets.cmake
build/generators/OpenSSL-release-x86_64-data.cmake
build/generators/OpenSSL-Target-release.cmake
build/generators/OpenSSLConfig.cmake
build/generators/OpenSSLConfigVersion.cmake
build/generators/OpenSSLTargets.cmake
build/generators/Opus-release-x86_64-data.cmake
build/generators/Opus-Target-release.cmake
build/generators/OpusConfig.cmake
build/generators/OpusConfigVersion.cmake
build/generators/OpusTargets.cmake
build/generators/PCRE2-release-x86_64-data.cmake
build/generators/PCRE2-Target-release.cmake
build/generators/PCRE2Config.cmake
build/generators/PCRE2ConfigVersion.cmake
build/generators/PCRE2Targets.cmake
build/generators/PNG-release-x86_64-data.cmake
build/generators/PNG-Target-release.cmake
build/generators/PNGConfig.cmake
build/generators/PNGConfigVersion.cmake
build/generators/PNGTargets.cmake
build/generators/PostgreSQL-release-x86_64-data.cmake
build/generators/PostgreSQL-Target-release.cmake
build/generators/PostgreSQLConfig.cmake
build/generators/PostgreSQLConfigVersion.cmake
build/generators/PostgreSQLTargets.cmake
build/generators/protobuf-config-version.cmake
build/generators/protobuf-config.cmake
build/generators/protobuf-release-x86_64-data.cmake
build/generators/protobuf-Target-release.cmake
build/generators/protobufTargets.cmake
build/generators/Qt6-release-x86_64-data.cmake
build/generators/Qt6-Target-release.cmake
build/generators/Qt6Config.cmake
build/generators/Qt6ConfigVersion.cmake
build/generators/Qt6Targets.cmake
build/generators/quirc-config-version.cmake
build/generators/quirc-config.cmake
build/generators/quirc-release-x86_64-data.cmake
build/generators/quirc-Target-release.cmake
build/generators/quircTargets.cmake
build/generators/SQLite3-release-x86_64-data.cmake
build/generators/SQLite3-Target-release.cmake
build/generators/SQLite3Config.cmake
build/generators/SQLite3ConfigVersion.cmake
build/generators/SQLite3Targets.cmake
build/generators/Tesseract-release-x86_64-data.cmake
build/generators/Tesseract-Target-release.cmake
build/generators/TesseractConfig.cmake
build/generators/TesseractConfigVersion.cmake
build/generators/TesseractTargets.cmake
build/generators/TIFF-release-x86_64-data.cmake
build/generators/TIFF-Target-release.cmake
build/generators/TIFFConfig.cmake
build/generators/TIFFConfigVersion.cmake
build/generators/TIFFTargets.cmake
build/generators/Vorbis-release-x86_64-data.cmake
build/generators/Vorbis-Target-release.cmake
build/generators/VorbisConfig.cmake
build/generators/VorbisConfigVersion.cmake
build/generators/VorbisTargets.cmake
build/generators/WebP-release-x86_64-data.cmake
build/generators/WebP-Target-release.cmake
build/generators/WebPConfig.cmake
build/generators/WebPConfigVersion.cmake
build/generators/WebPTargets.cmake
build/generators/ZLIB-release-x86_64-data.cmake
build/generators/ZLIB-Target-release.cmake
build/generators/ZLIBConfig.cmake
build/generators/ZLIBConfigVersion.cmake
build/generators/ZLIBTargets.cmake
build/generators/zstd-config-version.cmake
build/generators/zstd-config.cmake
build/generators/zstd-release-x86_64-data.cmake
build/generators/zstd-Target-release.cmake
build/generators/zstdTargets.cmake
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CPackConfig.cmake
cmake-build-debug/CPackSourceConfig.cmake
cmake-build-debug/CTestTestfile.cmake
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-3a020070ed9919b54ff3.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-2361b06fbc87105aad9a.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-5e13aafd52ebcaa1fd74.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-6fd298cd2610bee4f091.json
cmake-build-debug/.cmake/api/v1/reply/directory-src-Debug-c94b7c2814d5a21df52c.json
cmake-build-debug/.cmake/api/v1/reply/directory-tests-Debug-70e4927a02b591d5c1f8.json
cmake-build-debug/.cmake/api/v1/reply/index-2025-01-14T03-01-39-0146.json
cmake-build-debug/.cmake/api/v1/reply/target-DictionaryOverlay-Debug-fad32bace74cfc3305dc.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-1460004c632b2c0b30f0.json
cmake-build-debug/.qt/QtDeploySupport.cmake
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/src/cmake_install.cmake
cmake-build-debug/src/__/resources/resources.qrc.depends
cmake-build-debug/tests/cmake_install.cmake
cmake-build-debug/tests/CTestTestfile.cmake
.idea/.gitignore
.idea/DictionaryOverlay.iml
.idea/editor.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
